* {
    margin: 0;
    padding: 0;
}


header {
    padding: 10px;
    min-height: 20px;
    color: white;
    background-color: orange;
    text-align: center;
}

section {
    height: 100%;
}

.parteUm {
    padding: 13%;
    color: white;
    text-align: center;
    background-color: rgb(3, 135, 243);

}

.parteDois {
    padding: 12%;
    color: rgba(255, 0, 0, 0.596);
    text-align: center;
    background-color: rgb(191, 224, 0);
}

#titulo {
    font-size: 50px;
}

#botaoComprar {
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgb(182, 133, 0);
}

#botaoVoltar {
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgb(182, 133, 0);
}

#barraPesquisa {
    margin-top: 10px;
    background-color: transparent;
}

.artigoDoisPagDois {
    margin-top: 10%;
    text-align: center;
}

td, th {
    padding: 15px;
}

.tabela {
    margin-top: 30px;
    margin-left: 35%;
}